@{
	Layout = "_LoginAndRegisterLayout";
}

<div class="log-w3">
	<div class="top-nav clearfix">
		<ul class="nav pull-right top-menu">
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<img id="img_displayingFlag" src="">
					<span id="spn_displayingLanguage" class="username"></span>
					<b class="caret"></b>
				</a>
				<ul id="ul_languages" class="dropdown-menu extended logout">
				</ul>
			</li>
		</ul>
	</div>
	<div class="w3layouts-main">
		<h2 id="h2_mainTitle">
		</h2>
		<form>
			<input id="inpt_telNo" type="text" class="ggg" placeholder="" required>
			<input id="inpt_password" type="password" class="ggg" placeholder="" required>
			<!-- <span><input type="checkbox" /> Beni Hatırla</span> -->
			<h6>
				<a id="a_iForgotMyPassword" href="#">
				</a>
			</h6>		
			<div class="clearfix"></div>
			<input type="submit" value="" id="btn_login">
		</form>
		<div style="text-align:center">
			<img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
			<p id="p_resultLabel"></p>
		</div>
	</div>
</div>

<script type="module" src="~/js/miar_login.js"></script>
<script>
	//#region language
	let language = localStorage.getItem("language");
	 
	// add device language when not exists in local
	if(language == null)
		language = navigator.language == "en-US" ? "EN" : "TR"
	//#endregion

	const mainTitleByLanguages = {
		"TR": "GİRİŞ YAP",
		"EN": "LOGIN"
	}
	const inputPlaceHoldersByLanguages = {
		"TR": {
			"telNo": "TELEFON",
			"password": "ŞİFRE"
		},
		"EN": {
			"telNo": "TELEPHONE",
			"password": "PASSWORD"
		}
	}
	const iForgotMyPasswordByLanguages = {
		"TR": "Şifremi Unuttum?",
		"EN": "Forgot Password?"
	}
	const loginButtonNameByLanguages = {
		"TR": "GİRİŞ",
		"EN": "LOGIN"
	}
	const errorMessagesByLanguages = {
		"TR":{
			"PhoneOrEmailWrong": "telefon numarası veya şifre yanlış"
		},
		"EN":{
			"PhoneOrEmailWrong": "phone number or password is wrong"
		}
	}
</script>