@{
	Layout = "_LoginAndRegisterLayout";

	var language = ViewBag.Language;
}

<div class="log-w3">
	<div class="w3layouts-main">
		<h2>GİRİŞ YAP</h2>

		<form>
			<input id="inpt_telNo" type="text" class="ggg" 
					placeholder="TELEFON NUMARASI" required>
			<input id="inpt_password" type="password" class="ggg" 
					placeholder="ŞİFRE" required>
			<!-- <span><input type="checkbox" /> Beni Hatırla</span> -->
			<h6><a href="#">Şifremi Unuttum?</a></h6>
					
			<div class="clearfix"></div>
			<input type="submit" value="GİRİŞ" id="btn_login">
		</form>

		<p id="p_resultLabel"></p>
	</div>
</div>

<script type="module" src="~/js/login.js"></script>
<script>
	//#region add language to local
	let language = "@language";
	localStorage.setItem("language", language); 
	//#endregion
</script>