@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/miar_articles.css"/>
<link rel="stylesheet" href="~/css/miar_form.css"/>
<link rel="stylesheet" href="~/css/miar_form.generalCommunication.css"/>


<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*back button*@
            <div id="div_backButton" style="float:right" hidden>
                <button id="btn_back" type="button" class="btn">
                    <img src="~/images/close.png" alt="close"/>
                </button>
            </div>

            @*panel title*@
            <div id="div_panelTitle"></div>
        </div>
        <div class="panel-body">
            @*details of one article*@
            <div id="div_article_details" class="div_articleDetails" hidden>
                <div id="div_userInfos">
                    <div id="div_sendererInfos" style="float:left">
                        <table>
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="div_answererInfos"  style="float:right">
                        <table>
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="div_content">
                    <table>
                        <tbody>
                            <tr><td><img /></td></tr>  @*machine image*@
                            <tr><td id="td_subject"></td></tr>
                            <tr><td id="td_message"></td></tr>
                        </tbody>
                     </table>
                </div>
                <div style="text-align:center">
                    <button id="btn_complete" class="btn" type="submit"></button>
                </div>
            </div>
            
            @*articles*@
            <div id="div_article_display">
                @*menubar*@
                <div class="row w3-res-tb"  style="padding-top:10px">
                    <div class="col-sm-5 m-b-xs">
				        <select id="slct_menubar" class="input-sm form-control w-sm inline v-middle" style="float:left"></select>
                        <div id="div_menubar_button" hidden>
                            <img id="img_loading" src="~/images/loading.gif" hidden>;
                            <button id="btn_menubar_apply" class="btn btn-sm btn_menubar_apply "></button>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
			        @*search bar*@
			        @*<div class="col-sm-3">
				        <div class="input-group">
					        <input type="text" class="input-sm form-control" placeholder="Ara">
					        <span class="input-group-btn">
						        <button class="btn btn-sm btn-default" type="button">
							        Ara
						        </button>
					        </span>
				        </div>
			        </div>*@
			        @*/search bar*@
		        </div>

                @*articles*@
                <div id="div_articles" class="div_articles">
                </div>

                @*entity count and pagination buttons*@
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-5 text-left">
                            <small id="small_entityQuantity" class="text-muted inline m-t-sm m-b-s">
					        </small>
                        </div>
                        <div class="col-sm-7 text-right text-center-xs">                
                            <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script type="module" src="~/js/miar_form.generalCommunication.js"></script>