
<div class="table-agile-info">
    <div class="panel panel-default">
        @*title*@
        <div class="panel-heading">
            FORMS
        </div>

        @*menubar*@
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
				<select id="slct_tableMenubar" class="input-sm form-control w-sm inline v-middle">
                    <option>General Communication</option>
                    <option>Get Offer</option>
                    <option>Renting</option>
                </select>
				<button id="btn_apply" class="btn btn-sm btn-default">Apply</button>                
            </div>
            <div class="col-sm-4">
                <select class="input-sm form-control w-sm inline v-middle">
                    <option>All</option>
                    <option>Answered</option>
                    <option>Not Answered</option>
                </select>
            </div>
			@*search bar*@
			<div class="col-sm-3">
				<div class="input-group" style="float:right">
					<input type="text" class="input-sm form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button">Search</button>
					</span>
				</div>
			</div>
			@*/search bar*@
		</div>

        
        @*table*@
        <div class="table-responsive" style="min-height:500px">
            <div">
                <table id="tbl_machine" class="table table-striped b-t b-light" style="height:100px">
                    <thead>
                        @*checkbox*@
                        @*<tr>
                            <th style="width:20px">
                                <label class="i-checks m-b-rowNone">
								    <input id="box_all" type="checkbox"><i></i>
                                </label>
                            </th>
                        </tr>*@
                        <tr style="text-align:center">
                            <th>Company</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody style="white-space:nowrap">
                        <tr>
                            <td>MostIdea</td>
                            <td>Mert</td>
                            <td>Akdemir</td>
                            <td>05528093408</td>
                            <td>mert@gmail.com</td>
                            <td>Bunu satin almak istiyorum Bunu satin almak istiyorum Bunu satin almak istiyorum Bunu satin almak istiyorum. Bunu satin almak istiyorum Bunu satin almak istiyorum Bunu satin almak istiyorum Bunu satin almak istiyorum</td>
                        <tr>
                        <tr>
                            <td>Versus</td>
                            <td>Eda</td>
                            <td>Gülenç</td>
                            <td>05528093487</td>
                            <td>eda@gmail.com</td>
                            <td>İletişime geçmek</td>
                        <tr>
                        <tr>
                            <td>Versus</td>
                            <td>Eda</td>
                            <td>Gülenç</td>
                            <td>05528093487</td>
                            <td>eda@gmail.com</td>
                            <td>İletişime geçmek</td>
                        <tr>
                        <tr>
                            <td>Versus</td>
                            <td>Eda</td>
                            <td>Gülenç</td>
                            <td>05528093487</td>
                            <td>eda@gmail.com</td>
                            <td>İletişime geçmek</td>
                        <tr>
                        <tr>
                            <td>Versus</td>
                            <td>Eda</td>
                            <td>Gülenç</td>
                            <td>05528093487</td>
                            <td>eda@gmail.com</td>
                            <td>İletişime geçmek</td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        @*entity count and pagination buttons*@
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <small id="small_entityQuantity" class="text-muted inline m-t-sm m-b-s">
					</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">                
                    <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="module" src="~/js/miar_form.js"></script>
<script>

</script>