@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/miar_machine.category.css"/>
<link rel="stylesheet" href="~/css/miar_module.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    <div id="div_category_menubar">
                        @*modes <select>*@
                        <select class="input-sm form-control w-sm v-middle"></select>

                        @*category type <select>*@
                        <select class="input-sm form-control w-sm v-middle"></select>

                        @*language <select>*@
                        <select class="input-sm form-control w-sm v-middle slct_categoryLanguage"></select>

                        @*info message*@
                        <div id="div_menubarInfoMessageButton" class="div_infoMessageButton">
                            <button type="button"></button>
                        </div>
                        <div id="div_infoMessage_div_menubarInfoMessageButton" class="div_infoMessage">
                            <ul></ul>
                        </div>
                    </div>
                    <div id="div_category_form">
                        <form>
                            <div class="form-horizontal bucket-form">
                                @*mainCategory article*@
                                <div id="div_mainCategoryArticle" class="div_category">
                                    <h3 class="h_articleTitle"></h3>

                                    @*maincategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_mainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_mainCategory" class="form-control slct_mainCategory"></select>
                                        </div>
                                    </div>

                                    @*new maincategory <input>*@
                                    <div class="form-group">
                                        <label for="inpt_newMainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <input id="inpt_newMainCategory" type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_categoryButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                    @*result label*@
                                    <div class="form-group" style="text-align:center">
                                        <p id="p_resultLabelForSelectBtn"></p>
                                    </div>

                                    @*selected main category*@
                                    <div class="div_selectedCategories"></div>
                                </div>
                                    
                                @*subcategory article*@
                                <div id="div_subcategoryArticle" class="div_category">
                                    <h3 class="h_articleTitle"></h3>

                                    @*maincategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_mainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_mainCategory" class="form-control slct_mainCategory"></select>
                                        </div>
                                    </div>

                                    @*subcategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_subcategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_subcategory" class="form-control"></select>
                                        </div>
                                    </div>

                                    @*new subcategory <input>*@
                                    <div class="form-group">
                                        <label for="inpt_newSubcategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6" >
                                            <input id="inpt_newSubcategory" type="text" class="form-control"/>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_categoryButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                     @*result label*@
                                    <div class="form-group" style="text-align:center">
                                        <p id="p_resultLabelForSelectBtn"></p>
                                    </div>

                                    @*selected main category*@
                                    <div class="div_selectedCategories"></div>
                                </div>

                                @*send <button>*@
                                <div id="div_sendButton" class="form-group  div_categoryButton">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn"></button>
                                    </div>
                                </div>

                                @*result label*@
                                <div style="text-align:center">
                                    <p id="p_resultLabelForSendBtn"></p>
                                    <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script>
    const langPack = {
        panelTitle: {
            TR : "MAKİNE KATEGORİSİ",
            EN : "MACHINE CATEGORY"
        },
        modes: {
            add: {
                TR: "Ekle",
                EN: "Add"
            },
            update: {
                TR: "Güncelle",
                EN: "Update"
            },
            delete: {
                TR: "Sil",
                EN: "Delete"
            }
        },
        categoryTypesByMode: {
            add: {
                newCategory: {
                    TR: "Yeni Kategori",
                    EN: "New Category"
                },
                onlySubcategory: {
                    TR: "Sadece Alt Kategori",
                    EN: "Only Subcategory"
                }
            },
            update: {
                mainCategory: {
                    TR: "Ana Kategori",
                    EN: "Main Category"
                },
                subcategory: {
                    TR: "Alt Kategori",
                    EN: "Subcategory"
                }
            },
            delete: {
                mainCategory: {
                    TR: "Ana Kategori",
                    EN: "Main Category"
                },
                subcategory:{
                    TR: "Alt Kategori",
                    EN: "Subcategory"
                }
            },
        },
        article: {
            mainCategoryTitleByMode: {
                add:{
                    TR: "ANA KATEGORİ EKLE",
                    EN: "ADD MAIN CATEGORY"
                },
                update: {
                    TR: "ANA KATEGORİ GÜNCELLE",
                    EN: "UPDATE MAIN CATEGORY"
                },
                delete: {
                    TR: "ANA KATEGORİ SİL",
                    EN: "DELETE MAIN CATEGORY"
                }
            },
            mainCategoryLabel: {
                select:{
                    TR: "Ana Kategoriler",
                    EN: "Main Categories"
                },
                input:{
                    TR: "Yeni Ana Kategori",
                    EN: "New Main Category"
                }            
            },
            subcategoryTitleByMode: {
                add:{
                    TR: "ALT KATEGORİ EKLE",
                    EN: "ADD SUBCATEGORY"
                },
                update: {
                    TR: "ALT KATEGORİ GÜNCELLE",
                    EN: "UPDATE SUBCATEGORY"
                },
                delete: {
                    TR: "ALT KATEGORİ SİL",
                    EN: "DELETE SUBCATEGORY"
                }
            },
            subcategoryLabel: {
                select:{
                    TR: "Alt Kategoriler",
                    EN: "Subcategories"
                },
                input:{
                    TR: "Yeni Alt Kategori",
                    EN: "New Subcategory"
                }            
            },
            selectButton: {
                TR: "Seç",
                EN: "Select"
            }
        },
        sendButton: {
            TR: "Gönder",
            EN: "Send",
        },
        errorMessages: {
            badRequestForMainCat: {
                TR: "bazı diller için ana kategori eklenmemiş",
                EN: "main category for some languages is not added"
            },
            badRequestForSubcat: {
                TR: "bazı diller için alt kategori eklenmemiş veya eksik eklenmiş",
                EN: "subcategory for some languages is not added or missing added"
            },
            notAnyChanges:{
                TR: "herhangi bir değişiklik yapılmadı",
                EN: "there is no any changes"
            },
            invalidProcess: {
                TR: "geçersiz işlem",
                EN: "invalid process"
            },
            conflictForSelectSubcategory: {
                TR: "alt kategori daha önceden seçilmiş",
                EN: "subcategory is selected previously"
            }
        },
        successMessages: {
            saveSuccessful: {
                TR: "başarıyla kaydedildi",
                EN: "saved successfully"
            },
            updateSuccessful: {
                TR: "başarıyla güncellendi",
                EN: "updated successfully"
            }
        },
        infoMessages: {
            menubar: {
                TR: [
                    `<b>* Ekle >> Yeni Kategori</b>:  
                        <br>** Yeni ana kategori ve alt kategori eklemek içindir.  
                        <br>** Yeni ana kategori ve alt kategori her dil için girilmelidir.`,
                    `<b>* Ekle >> Sadece Alt Kategori</b>:  
                        <br>** Seçili ana kategoriye ait yeni alt kategoriler eklemek içindir.  
                        <br>** Yeni alt kategori her dil için girilmelidir.,
                        <br>** \"Alt kategoriler dropdown\"u sadece varolan alt kategorileri görüntülemek içindir`,
                    `<b>* Güncelle >> Ana Kategori</b>:  
                        <br>** Seçilen ana kategorinin adını değiştirmek içindir.
                        <br>** Yeni ana kategori adı her dil için girilmek zorunda değildir. (istenilen herhangi bir dil için güncelleme yapılabilir.)`,
                    `<b>* Güncelle >> Alt Kategori</b>:  
                        <br>** Seçilen ana kategoriye ait alt kategorilerin adlarını değiştirmek içindir.
                        <br>** Yeni alt kategori adları her dil için girilmek zorunda değildir. (istenilen herhangi bir dil için güncelleme yapılabilir.)`,
                    `<b>* Sil >> Ana Kategori</b>: 
                        <br>** Yakında...`,
                    `<b>* Sil >> Alt Kategori</b>: 
                        <br>** Yakında...`,
                    `<b>* Kategori Dili</b>:  
                        <br>** Burada seçilen dil ile sayfanın dili farklıdır. Burada seçilen dil girilecek olan ana veya alt kategorinin hangi dilde olduğunu belirtir.`,
                    `<b>* Not</b>:
                        <br>** Yeni kategoriler eklenecekken alt kategoriler bir dile göre girildikten sonra diğer diller içinde gireleceği zamanda, aynı sırayla girilmelidir. 
                        <br>*** Örneğin TR= [alt kategori1, alt kategori2...],  EN= [subcategory1, subcategory2...])
                        <br>** Güncelleme işleminde alt kategorilerin sırası önemli değildir.`
                ],
                EN: [
                    `<b>* Add >> Main Category</b>:  
                        <br>** It used to add new main and subcategory.  
                        <br>* *You must enter new main and subcategory for all languages.`,
                    `<b>* Add >> Only Subcategory</b>:  
                        <br>** It used to add new subcategories belong to selected main category.  
                        <br>** \"Subcategories dropdown\" is only for display registered subcategories.
                        <br>** You must enter new subcategory for all languages.`,
                    `<b>* Update >> Main Category</b>:  
                        <br>** It used to change name of selected main category.
                        <br>** There is no requirement of enter new main category name for all languages. (It can be update for desired any language.)`,
                    `<b>* Update >> Subcategory</b>:  
                        <br>** It used to change subcategory names belong to selected main category.
                        <br>** There is no requirement of enter new subcategory names for all languages. (It can be update for desired any language.)`,
                    `<b>* Delete >> Main Category</b>: 
                        <br>** Soon...`, 
                    `<b>* Delete >> Subcategory</b>: 
                        <br>** Soon...`,
                    `<b>* Category Language</b>:  
                        <br>** The language in here and page language are different. The selected language in here determines language of main and subcategory to be entered`,
                    `<b>* Note</b>:
                        <br>** When new subcategories is adding, when subcategories will be enter for other languages after subcategory is entered for one language, must be same order.
                        <br>*** Such as TR: [alt kategori1, alt kategori2...],  EN: [subcategory1, subcategory2...]
                        <br>** Subcategories order is not important in update process.`
                ]
            },
        }
    };
</script>
<script type="module" src="~/js/miar_machine.category.js"></script>