@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/miar_machine.category.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    <div id="div_category_menubar">
                        @*category modes select*@
                        <select class="input-sm form-control w-sm inline v-middle">
                            <option selected>Display</option>
                            <option>Update</option>
                            <option>Delete</option>
                        </select>

                        @*language select*@
                        <select class="input-sm form-control w-sm inline v-middle">
                            <option selected>EN</option>
                            <option>TR</option>
                        </select>
                    </div>
                    <div id="div_category_form">
                        <form>
                            <div class="form-horizontal bucket-form">
                                <div id="div_category_display" hidden>
                                    @*maincategory select*@
                                    <div class="form-group">
                                        <label for="slct_mainCategory" class="col-sm-3 control-label">Main Category</label>
                                        <div class="col-sm-6">
                                            <select id="slct_mainCategory" class="form-control">
                                                <option>Work Machines</option>
                                                <option>Power Machines</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*subcategories select*@
                                    <div class="form-group">
                                        <label for="slct_subcategories" class="col-sm-3 control-label">Subcategories</label>
                                        <div class="col-sm-6">
                                            <select id="slct_subcategories" class="form-control">
                                                <option>Crawler Excavators</option>
                                                <option>Bulldozers</option>
                                                <option>Wheel Loaders</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="div_category_update">
                                    @*mainCategory*@
                                    <div class="div_category">
                                        <h3 class="h_articleTitle">Main Category</h3>

                                        @*maincategory select*@
                                        <div class="form-group">
                                            <label for="slct_mainCategory" class="col-sm-3 control-label">Main Category</label>
                                            <div class="col-sm-6">
                                                <select id="slct_mainCategory" class="form-control">
                                                    <option>Work Machines</option>
                                                    <option>Power Machines</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*new main category input*@
                                        <div class="form-group">
                                            <label for="inpt_newMainCategory" class="col-sm-3 control-label">New Name</label>
                                            <div class="col-sm-6">
                                                <input id="inpt_newMainCategory" type="text" class="form-control"/>
                                            </div>
                                        </div>

                                         @*select <button>*@
                                        <div class="form-group  div_articleButton">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn">Select</button>
                                            </div>
                                        </div>

                                        @*selected main category*@
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @*subcategory*@
                                    <div class="div_category">
                                        <h3 class="h_articleTitle">Subcategory</h3>

                                        @*subcategories <select>*@
                                        <div class="form-group">
                                            <label for="slct_subcategories" class="col-sm-3 control-label">Subcategories</label>
                                            <div class="col-sm-6">
                                                <select id="slct_subcategories" class="form-control">
                                                    <option>Crawler Excavators</option>
                                                    <option>Bulldozers</option>
                                                    <option>Wheel Loaders</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*new name <input>*@
                                        <div class="form-group">
                                            <label for="inpt_newSubcategory" class="col-sm-3 control-label">New Name</label>
                                            <div class="col-sm-6">
                                                <input id="inpt_newSubcategory" type="text" class="form-control"/>
                                            </div>
                                        </div>

                                        @*save <button>*@
                                        <div class="form-group  div_articleButton">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn">Save</button>
                                            </div>
                                        </div>

                                        @*new subcategories*@
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator  -->  Crawler Excavator1" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Wheel Loaders  -->  Wheel Loaders2" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Bulldozers --> Bulldozers2" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>
                                    </div>

                                     @*send <button>*@
                                    <div id="div_sendButton" class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn">Send</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="div_category_delete" hidden>
                                    @*mainCategory*@
                                    <div class="div_category">
                                        <h3 class="h_articleTitle">Main Category</h3>

                                        @*maincategory select*@
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label for="slct_mainCategory" class="col-sm-3 control-label">Main Category</label>
                                            <div class="col-sm-6">
                                                <select id="slct_mainCategory" class="form-control">
                                                    <option>Work Machines</option>
                                                    <option>Power Machines</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*select <button>*@
                                        <div class="form-group  div_articleButton">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn">Select</button>
                                            </div>
                                        </div>

                                        @*selected main category*@
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @*subcategory*@
                                    <div class="div_category">
                                        <h3 class="h_articleTitle">Subcategory</h3>

                                        @*subcategories <select>*@
                                        <div class="form-group">
                                            <label for="slct_subcategories" class="col-sm-3 control-label">Subcategories</label>
                                            <div class="col-sm-6">
                                                <select id="slct_subcategories" class="form-control">
                                                    <option>Crawler Excavators</option>
                                                    <option>Bulldozers</option>
                                                    <option>Wheel Loaders</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*select <button>*@
                                        <div class="form-group  div_articleButton">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn">Select</button>
                                            </div>
                                        </div>

                                        @*selected main category*@
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Wheel Loaders" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Bulldozers" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png"/></button>
                                            </div>
                                        </div>
                                    </div>

                                     @*send <button>*@
                                    <div id="div_sendButton" class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>