@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/miar_machine.category.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    <div id="div_category_menubar">
                        @*modes <select>*@
                        <select class="input-sm form-control w-sm inline v-middle"></select>

                        @*category type <select>*@
                        <select class="input-sm form-control w-sm inline v-middle"></select>

                        @*language <select>*@
                        <select class="input-sm form-control w-sm inline v-middle slct_categoryLanguage"></select>
                    </div>
                    <div id="div_category_form">
                        <form>
                            <div class="form-horizontal bucket-form">
                                @*mainCategory*@
                                <div class="div_category">
                                    <h3 class="h_articleTitle"></h3>

                                    @*maincategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_mainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_mainCategory" class="form-control"></select>
                                        </div>
                                    </div>

                                    @*new maincategory <input>*@
                                    <div class="form-group">
                                        <label for="inpt_newMainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <input id="inpt_newMainCategory" type="text" class="form-control"/>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_categoryButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                    @*selected main category*@
                                    <div class="div_selectedCategories"></div>
                                </div>
                                    
                                @*subcategory*@
                                <div class="div_category" hidden>
                                    <h3 class="h_articleTitle"></h3>

                                    @*maincategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_mainCategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_mainCategory" class="form-control"></select>
                                        </div>
                                    </div>

                                    @*subcategory <select>*@
                                    <div class="form-group" hidden>
                                        <label for="slct_subcategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_subcategory" class="form-control"></select>
                                        </div>
                                    </div>

                                    @*new subcategory <input>*@
                                    <div class="form-group">
                                        <label for="inpt_newSubcategory" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6" >
                                            <input id="inpt_newSubcategory" type="text" class="form-control"/>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_categoryButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                    @*selected main category*@
                                    <div class="div_selectedCategories"></div>
                                </div>

                                @*send <button>*@
                                <div id="div_sendButton" class="form-group  div_categoryButton">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn"></button>
                                    </div>
                                </div>

                                @*result label*@
                                <div style="text-align:center">
                                    <p id="p_resultLabel"></p>
                                    <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script>
    const langPack = {
        panelTitle: {
            TR : "MAKİNE KATEGORİSİ",
            EN : "MACHINE CATEGORY"
        },
        modes: {
            add: {
                TR: "Ekle",
                EN: "Add"
            },
            update: {
                TR: "Güncelle",
                EN: "Update"
            },
            delete: {
                TR: "Sil",
                EN: "Delete"
            }
        },
        categoryTypes: {
            mainCategory:{
                TR: "Ana Kategori",
                EN: "Main Category"
            },
            subcategory:{
                TR: "Alt Kategori",
                EN: "Subcategory"
            },
        },
        article: {
            mainCategoryTitleByMode: {
                add:{
                    TR: "ANA KATEGORİ EKLE",
                    EN: "ADD MAIN CATEGORY"
                },
                update: {
                    TR: "ANA KATEGORİ GÜNCELLE",
                    EN: "UPDATE MAIN CATEGORY"
                },
                delete: {
                    TR: "ANA KATEGORİ SİL",
                    EN: "DELETE MAIN CATEGORY"
                }
            },
            mainCategoryLabel: {
                select:{
                    TR: "Ana Kategori",
                    EN: "Main Category"
                },
                input:{
                    TR: "Yeni Ana Kategori",
                    EN: "New Main Category"
                }            
            },
            subcategoryTitleByMode: {
                add:{
                    TR: "ALT KATEGORİ EKLE",
                    EN: "ADD SUBCATEGORY"
                },
                update: {
                    TR: "ALT KATEGORİ GÜNCELLE",
                    EN: "UPDATE SUBCATEGORY"
                },
                delete: {
                    TR: "ALT KATEGORİ SİL",
                    EN: "DELETE SUBCATEGORY"
                }
            },
            subcategoryLabel: {
                select:{
                    TR: "Alt Kategori",
                    EN: "Subcategory"
                },
                input:{
                    TR: "Yeni Alt Kategori",
                    EN: "New Subcategory"
                }            },
            selectButton: {
                TR: "Seç",
                EN: "Select"
            }
        },
        sendButton: {
            TR: "Gönder",
            EN: "Send",
        },
        errorMessages: {
            badRequestForMainCat: {
                TR: "bazı diller için ana kategori eklenmemiş",
                EN: "main category for some languages is not added"
            },
            badRequestForSubcat: {
                TR: "bazı diller için alt kategori eklenmemiş veya eksik eklenmiş",
                EN: "subcategory for some languages is not added or missing added"
            },
            notAnyChanges:{
                TR: "herhangi bir değişiklik yapılmadı",
                EN: "there is no any changes"
            }
        },
        successMessages: {
            saveSuccessful: {
                TR: "başarıyla kaydedildi",
                EN: "saved successfully"
            },
            updateSuccessful: {
                TR: "başarıyla güncellendi",
                EN: "updated successfully"
            }
        }
    };
</script>
<script type="module" src="~/js/miar_machine.category.js"></script>