@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/miar_machine.category.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    <div id="div_category_menubar">
                        @*modes <select>*@
                        <select class="input-sm form-control w-sm inline v-middle"></select>

                        @*language <select>*@
                        <select class="input-sm form-control w-sm inline v-middle"></select>
                    </div>
                    <div id="div_category_form">
                        <form>
                            <div class="form-horizontal bucket-form">
                                @*mainCategory*@
                                <div class="div_category">
                                    <h3 class="h_articleTitle"></h3>

                                    @*maincategory select*@
                                    <div class="form-group">
                                        <label id="lbl_mainCategory" for="slct_mainCategory" class="col-sm-3 control-label"></label>
                                        
                                        @*for update & delete mode*@
                                        <div class="col-sm-6" hidden>
                                            <select id="slct_mainCategory" class="form-control"></select>
                                        </div>

                                        @*for add mode*@
                                        <div class="col-sm-6" >
                                            <input id="inpt_mainCategory" type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_articleButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                    @*selected main category*@
                                    <div id="div_selectedMainCategory">
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png" alt="cancel"/></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                @*subcategory*@
                                <div class="div_category">
                                    <h3 class="h_articleTitle"></h3>

                                    @*subcategories <select>*@
                                    <div class="form-group">
                                        <label id="lbl_subcategory" for="slct_subcategories" class="col-sm-3 control-label"></label>
                                         
                                        @*for update & delete mode*@
                                        <div class="col-sm-6" hidden>
                                            <select id="slct_subcategory" class="form-control"></select>
                                        </div>

                                        @*for add mode*@
                                        <div class="col-sm-6" >
                                            <input id="inpt_subcategory" type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    @*select <button>*@
                                    <div class="form-group  div_articleButton">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn"></button>
                                        </div>
                                    </div>

                                    @*selected main category*@
                                    <div id="div_selectedSubcategories">
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Crawler Excavator" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png" alt="cancel"/></button>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Wheel Loaders" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png" alt="cancel"/></button>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <input type="text" value="Bulldozers" class="form-control" readonly/>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn_cancel"><img src="~/images/cancel.png" alt="cancel"/></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*send <button>*@
                                <div id="div_sendButton" class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    const langPack = {
        panelTitle: {
            TR : "MAKİNE KATEGORİSİ",
            EN : "MACHINE CATEGORY"
        },
        modes: {
            add: {
                TR: "Ekle",
                EN: "Add"
            },
            update: {
                TR: "Güncelle",
                EN: "Update"
            },
            delete: {
                TR: "Sil",
                EN: "Delete"
            }
        },
        article: {
            mainCategoryTitleByMode: {
                add:{
                    TR: "ANA KATEGORİ EKLE",
                    EN: "ADD MAIN CATEGORY"
                },
                update: {
                    TR: "ANA KATEGORİ GÜNCELLE",
                    EN: "UPDATE MAIN CATEGORY"
                },
                delete: {
                    TR: "ANA KATEGORİ SİL",
                    EN: "DELETE MAIN CATEGORY"
                }
            },
            mainCategoryLabel: {
                TR: "Ana Kategori",
                EN: "Main Category"
            },
            subcategoryTitleByMode: {
                add:{
                    TR: "ALT KATEGORİ EKLE",
                    EN: "ADD SUBCATEGORY"
                },
                update: {
                    TR: "ALT KATEGORİ GÜNCELLE",
                    EN: "UPDATE SUBCATEGORY"
                },
                delete: {
                    TR: "ALT KATEGORİ SİL",
                    EN: "DELETE SUBCATEGORY"
                }
            },
            subcategoryLabel: {
                TR: "Alt Kategori",
                EN: "Subcategory"
            },
            selectButton: {
                TR: "Seç",
                EN: "Select"
            }
        },
        sendButton: {
            TR: "Gönder",
            EN: "Send",
        }
    };
</script>
<script type="module" src="~/js/miar_machine.category.js"></script>