@model IServiceManager;


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    <form>
                        <div id="div_form" class="form-horizontal bucket-form">
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module"  src="~/js/machineForCreate.js"></script>

<script>
    const tableTitleByLanguages = {
    "TR": "YENİ MAKİNE OLUŞTUR",
    "EN": "CREATE NEW MACHINE"
}
    const formLabelNamesByLanguages = {
        "TR": {
            "mainCategory": "Ana Kategori",
            "subCategory": "Alt Kategori",
            "brand": "Marka",
            "model": "Model",
            "year": "Yıl",
            "handStatus": {
                "label": "El Durumu",
                "radio1": "Sıfır",
                "radio2": "İkinci El"
            },
            "stock": "Stok Adedi",
        },
        "EN": {
            "mainCategory": "Maincategory",
            "subCategory": "Subcategory",
            "brand": "Brand",
            "model": "Model",
            "year": "Year",
            "handStatus": {
                "label": "Hand Status",
                "radio1": "Zero",
                "radio2": "Second Hand"
            },
            "stock": "Stock",
        },
    }
    const updateButtonNameByLanguages = {
        "TR": "KAYDET",
        "EN": "SAVE"
    }
    const descriptionButtonNameByLanguages = {
        "TR": "Açıklama",
        "EN": "Description"
    }
</script>