@model IServiceManager;


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    @*machine image and video*@
                    <div id="div_machineVideoAndImage" style="text-align:center" hidden>
                        <video id="vid_machine" poster="" width="" height="" controls>
                            <source id="src_machine" src="" type=""/>
                        </video>
                        
                        @*message label*@
                        <div style="margin-bottom:30px">
                            <spn id="spn_fileStatusLabel"></spn>
                        </div>
                    </div>

                    @*form*@
                    <form>
                        <div id="div_form" class="form-horizontal bucket-form">
                        </div>
                    </form>
                     <div style="text-align:center">
                        <p id="p_resultLabel"></p>
                        <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module"  src="~/js/miar_machine_create.js"></script>

<script>
    const tableTitleByLanguages = {
    "TR": "YENİ MAKİNE OLUŞTUR",
    "EN": "CREATE NEW MACHINE"
}
    const formLabelNamesByLanguages = {
        "TR": {
            "mainCategory": "Ana Kategori",
            "subCategory": "Alt Kategori",
            "brand": "Marka",
            "model": "Model",
            "year": "Yıl",
            "handStatus": {
                "label": "El Durumu",
                "radio1": "Sıfır",
                "radio2": "İkinci El"
            },
            "stock": "Stok Adedi",
            "image": "Resim",
            "video": "Video",
            "pdf": "Pdf"
        },
        "EN": {
            "mainCategory": "Main Category",
            "subCategory": "Subcategory",
            "brand": "Brand",
            "model": "Model",
            "year": "Year",
            "handStatus": {
                "label": "Hand Status",
                "radio1": "Zero",
                "radio2": "Second Hand"
            },
            "stock": "Stock",
            "image": "Image",
            "video": "Video",
            "pdf": "Pdf"
        },
    }
    const saveButtonNameByLanguages = {
        "TR": "KAYDET",
        "EN": "SAVE"
    }
    const description_baseButtonNameByLanguages = {
        "TR": "Açıklama",
        "EN": "Description"
    }
    const successMessagesByLanguages = {
        "TR": {
            "saveSuccessful": "başarıyla kaydedildi",
        },
        "EN":{
            "saveSuccessful": "saved with successful"
        }
    }
    const errorMessagesByLanguages = {
        "TR":{
            "pdfReadingError": "pdf yüklenirken bir hata oluştu.",
            "descriptionNotEntered": "açıklama girilmedi"
        },
        "EN":{
            "pdfReadingError": "an error occured when pdf uploading",
            "descriptionNotEntered": "description not entered"
        }
    }
</script>