@model IServiceManager;

@{
    #region set limits of number inputs
    var minYearValue = 1900;
    var minStockValue = 0;
    var minSoldValue = 0; 
    var minRentedValue = 0; 
    var maxYearValue = DateTime.UtcNow.Year;
    var maxStockValue = 5000;
    var maxSoldValue = 5000;
    var maxRentedValue = 5000;
    #endregion
}

<link rel="stylesheet" href="~/css/miar_machine.css"/>
<link rel="stylesheet" href="~/css/miar_machine.create.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    @*machine image and video*@
                    <div style="text-align:center; margin-top:15px">
                        <video id="vid_machine" hidden>
                            <source id="src_machine"/>
                        </video>
                        @*message label*@
                        <div style="margin:30px 0px" hidden>
                            <spn id="spn_fileStatus"></spn>
                        </div>
                    </div>
                    
                    @*image and video buttons*@
                    <div style="text-align:center">
                        <button id="btn_showImage" type="button" hidden></button>
                        <button id="btn_showVideo" type="button" hidden></button>
                    </div>
               
                    <form>
                        <div id="div_form" class="form-horizontal bucket-form"> 
                            @{
                                #region add image, video and pdf inputs
                                var fileInputInfos = new string[][]
                                {
                                    new string[] { "div_imageInput", "inpt_chooseImage",  "inpt_image", "image/*"},
                                    new string[] { "div_videoInput", "inpt_chooseVideo",  "inpt_video",  "video/*"},
                                    new string[] { "div_pdfInput", "inpt_choosePdf",  "inpt_pdf",  "application/pdf"}
                                };

                                foreach(var fileInputInput in fileInputInfos)
                                {
                                    <div id="@fileInputInput[0]" class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <input id="@fileInputInput[1]"  type="text"  class="form-control  form_file_input"  readonly/>
                                            <span id="spn_help_@fileInputInput[1]" class="help-block"></span>
                                            <div hidden>
                                                <input id="@fileInputInput[2]"  type="file"  class=""  accept="@fileInputInput[3]">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 div_infoMessage">
                                            <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                            <ul role="menu" class="dropdown-menu"></ul>
                                        </div>
                                    </div>
                                }
                                #endregion
                            }
                            @{
                                #region add mainCategory and subCategory select
                                var selectTypes = new string[] { "mainCategory", "subCategory"};

                                foreach(var selectType in selectTypes)
                                {
                                    <div id="div_@selectType" class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <select id="slct_@selectType" class="form-control m-bot15"></select>
                                            <span id="spn_help_slct_@selectType" class="help-block"></span>
                                        </div>
                                    </div>
                                }
                                #endregion
                            }
                            @*model*@
                            <div id="div_model" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input id="inpt_model" type="text" class="form-control" >
                                    <span id="spn_help_inpt_model" class="help-block"></span>
                                </div>
                                <div class="col-sm-3 div_infoMessage">
                                    <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                    <ul role="menu" class="dropdown-menu"></ul>
                                </div>
                            </div>
                            @*brand*@
                            <div id="div_brand" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input id="inpt_brand" type="text" class="form-control" >
                                    <span id="spn_help_inpt_brand" class="help-block"></span>
                                </div>
                                <div class="col-sm-3 div_infoMessage">
                                    <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                    <ul role="menu" class="dropdown-menu"></ul>
                                </div>
                            </div>
                            @*year*@
                            <div id="div_year" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input id="inpt_year" type="number" class="form-control" min=@minYearValue max=@maxYearValue >
                                    <span id="spn_help_inpt_year" class="help-block"></span>
                                </div>
                            </div>
                            @*stock*@
                            <div id="div_stock" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input id="inpt_stock" type="number" class="form-control" min=@minStockValue max=@maxStockValue >
                                    <span id="spn_help_inpt_stock" class="help-block"></span>
                                </div>
                            </div>
                            @*handStatus*@
                            <div id="div_handStatus" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label style="margin-right:10px">
                                            <input type="radio" name="handStatus" checked="">
                                        </label>
                                        <label>
                                            <input type="radio" name="handStatus">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            @*description*@
                            <div id="div_descriptions" class="form-group">
                                <label class="col-sm-3 control-label">
                                    <div class="input-group m-bot15">
                                        <div class="input-group-btn">
                                            <button id="btn_descriptions" style="background-color:darkblue; color:red" tabindex="-1" class="btn btn-info" type="button">
                                                <b></b>
                                            </button>
                                            <button tabindex="-1" style="background-color: darkblue;" data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="ul_descriptions"  role="menu" class="dropdown-menu pull-right" style="text-align:center">
                                            </ul>
                                        </div>
                                    </div>
                                </label>
                                <div class="col-sm-6">
                                    <textarea id="txt_descriptions"  style="resize:none"  type="text"  class="form-control"  rows="10"  ></textarea>
                                    <span id="spn_help_txt_descriptions" class="help-block"></span>
                                </div>
                                <div class="col-sm-3 div_infoMessage">
                                    <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                    <ul role="menu" class="dropdown-menu"></ul>
                                </div>
                            </div>
                             @*save button*@
                            <div style="text-align:center" class="form-group">
                                <button id="btn_save" type="submit" class="btn btn-danger" style="background-color: darkblue"></button>
                                <div>
                                    <p id="p_resultLabel"></p>
                                    <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px; margin-top:30px" hidden/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>


<script>
    const numberInputLimits = {
        "year": {
            "min": @minYearValue,
            "max": @maxYearValue
        },
        "stock": {
            "min": @minStockValue,
            "max": @maxStockValue
        },
        "sold": {
            "min": @minSoldValue,
            "max": @maxSoldValue
        },
        "rented": {
            "min": @minRentedValue,
            "max": @maxRentedValue
        }
    }
    const path_imageFolderAfterWwwroot = "images\\machines";
    const path_videoFolderAfterWwwroot = "videos\\machines";
    const path_pdfFolderAfterWwwroot = "pdfs";
    const successMessagesByLanguages = {
        "TR": {
            "saveSuccessful": "başarıyla kaydedildi",
        },
        "EN":{
            "saveSuccessful": "saved with successful"
        }
    }
    const errorMessagesByLanguages = {
        "TR":{
            "pdfReadingError": "pdf yüklenirken bir hata oluştu.",
            "descriptionNotEntered": "açıklama girilmedi",
            "imageSizeOverflow": "resim boyutu en fazla 20mb olabilir",
            "videoSizeOverflow": "video boyutu en fazla 20mb olabilir",
            "pdfSizeOverflow": "pdf boyutu en fazla 20mb olabilir",
            "unsuccessfulCreate": "makine oluşturulurken bir hata oluştu",
            "unsuccessfulImageUpload": "resim yüklenirken bir hata oluştu",
            "unsuccessfulVideoUpload": "video yüklenirken bir hata oluştu",
            "unsuccessfulPdfUpload": "pdf yüklenirken bir hata oluştu",
            "blankInput": "bu alanı doldurmalısın"
        },
        "EN":{
            "pdfReadingError": "an error occured when pdf uploading",
            "descriptionNotEntered": "description not entered",
            "imageSizeOverflow": "image size can be max 20mb",
            "videoSizeOverflow": "video size can be max 20mb",
            "pdfSizeOverflow": "pdf size can be max 20mb",
            "unsuccessfulCreate": "an error occured when machine creating",
            "unsuccessfulImageUpload": "an error occured when image uploading",
            "unsuccessfulVideoUpload": "an error occured when video uploading",
            "unsuccessfulPdfUpload": "an error occured when pdf uploading",
            "blankInput": "you must fill in this field"
        }
    }
    let selectedImageInfos;
    let selectedPdfInfos;
    let selectedVideoInfos;
</script>


<script type="module" src="~/js/miar_machine.js"></script>
<script type="module"  src="~/js/miar_machine.create.js"></script>