@model IServiceManager;


<link rel="stylesheet" href="~/css/miar_machine.css"/>


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    @*machine image and video*@
                    <div style="text-align:center">
                        <video id="vid_machine" controls hidden>
                            <source id="src_machine" src="" type=""/>
                        </video>
                        
                        @*message label*@
                        <div style="margin-bottom:30px">
                            <spn id="spn_fileStatusLabel"></spn>
                        </div>
                    </div>
                    <div style="text-align:center">
                        <button id="btn_showImage" type="button" class="btn btn_imageAndVideo"></button>
                        <button id="btn_showVideo" type="button" class="btn btn_imageAndVideo"></button>
                    </div>
                    @*form*@
                    <form>
                        <div id="div_form" class="form-horizontal bucket-form">
                        </div>
                    </form>
                     <div style="text-align:center">
                        <p id="p_resultLabel"></p>
                        <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script>
    const tableTitleByLanguages = {
        "TR": "YENİ MAKİNE OLUŞTUR",
        "EN": "CREATE NEW MACHINE"
    }
    const successMessagesByLanguages = {
        "TR": {
            "saveSuccessful": "başarıyla kaydedildi",
        },
        "EN":{
            "saveSuccessful": "saved with successful"
        }
    }
    const errorMessagesByLanguages = {
        "TR":{
            "pdfReadingError": "pdf yüklenirken bir hata oluştu.",
            "descriptionNotEntered": "açıklama girilmedi",
            "imageSizeOverflow": "resim boyutu en fazla 20mb olabilir",
            "videoSizeOverflow": "video boyutu en fazla 20mb olabilir",
            "pdfSizeOverflow": "pdf boyutu en fazla 20mb olabilir",
            "unsuccessfulCreate": "makine oluşturulurken bir hata oluştu",
            "unsuccessfulImageUpload": "resim yüklenirken bir hata oluştu",
            "unsuccessfulVideoUpload": "video yüklenirken bir hata oluştu",
            "unsuccessfulPdfUpload": "pdf yüklenirken bir hata oluştu"
        },
        "EN":{
            "pdfReadingError": "an error occured when pdf uploading",
            "descriptionNotEntered": "description not entered",
            "imageSizeOverflow": "image size can be max 20mb",
            "videoSizeOverflow": "video size can be max 20mb",
            "pdfSizeOverflow": "pdf size can be max 20mb",
            "unsuccessfulCreate": "an error occured when machine creating",
            "unsuccessfulImageUpload": "an error occured when image uploading",
            "unsuccessfulVideoUpload": "an error occured when video uploading",
            "unsuccessfulPdfUpload": "an error occured when pdf uploading",
        }
    }
    //const langPack_imageAndVideoButtons = 
</script>


<script type="module" src="~/js/miar_machine.js"></script>
<script type="module"  src="~/js/miar_machine.create.js"></script>