@model IConfigManager;

<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading">
                    Yeni Makine Oluştur
                </header>
                <div class="panel-body">
                    <form>
                        <div class="form-horizontal bucket-form">
                            <!-- MainCategory -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Ana Kategori
                                </label>
                                <div class="col-sm-6">
                                    <select id="slct_mainCategory" class="form-control m-bot15">
                                        @{
                                            #region get mainCategoryNames
                                            var mainCategoryNames = Model.CategoryNamesConfig
                                                .MainCategoryNames;
                                            #endregion

                                            #region add mainCategoryNames
                                            foreach(var mainCategoryName in mainCategoryNames)
                                            {
                                                <option>@mainCategoryName</option>    
                                            }
                                            #endregion
                                        }                                        
                                    </select>
                                </div>
                            </div>
                            <!-- /MainCategory -->
                            <!-- SubCategory -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Alt Kategori
                                </label>
                                <div class="col-sm-6">
                                    <select id="slct_subCategory" class="form-control m-bot15">
                                        @{
                                            #region get subCategoryNames
                                            var subCategoryNames = Model.CategoryNamesConfig
                                                .SubCategoryNames.ElementAt(0);
                                            #endregion

                                            #region add all <option> of subCategoryName
                                            foreach(var subCategoryName in subCategoryNames)
                                            {
                                                <option>@subCategoryName</option>    
                                            }
                                            #endregion
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- /SubCategory -->
                            <!-- Brand -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Marka
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_brand" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /Brand -->
                            <!-- Model -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Model
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_model" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /Model -->
                             <!-- Year -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Yılı
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_year" type="number" class="form-control" value="2023" required>
                                </div>
                            </div>
                            <!-- /Year --> 
                            <!-- usageStatus -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Kullanım Durumu
                                </label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label style="margin-right:20px">
                                            <input type="radio" name="usageStatus" value=0 checked="">
                                            Sıfır
                                        </label>
                                        <label>
                                            <input type="radio" name="usageStatus" value=2>
                                            İkinci El
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /usageStatus-->

                            <!-- ImagePath -->
                            @*<div class="form-group">
                                <label class="col-sm-3 control-label">Rol</label>
                                <div class="col-sm-6">
                                    <select id="slct_role" class="form-control m-bot15">
                                        <option>User</option>
                                        <option>Editor</option>
                                        <option>Admin</option>
                                    </select>
                                </div>
                            </div>   *@
                            <!-- /ImagePath -->

                            <!-- Stock -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Stok Adedi
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_stock" type="number" class="form-control" value="1" required>
                                </div>
                            </div>
                            <!-- /Stock -->

                            <!-- registration button -->
                            <div class="form-group">
                                <div class="col-sm-6; text-center">
                                    <button id="btn_register" type="submit" class="btn btn-danger">Kaydet</button>
                                </div>
                                <div style="text-align:center">
                                    <p id="p_resultLabel"></p>
                                </div>
                            </div>
                            <!-- /registration button-->
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module"  src="~/js/machineForCreate.js"></script>