@model IServiceManager;


<style rel="stylesheet">
    .article{
        border-style:solid;
        float: left;
        border-radius: 25px;
    }

    .article:hover{
        background-color: lightgrey;
    }

    #div_article_info:hover{
        cursor:pointer;
    }

    .div_articles{
        margin-top:20px;
        margin-bottom:20px;
    }

    .img_play{
        cursor: pointer;
    }
</style>

<div class="table-agile-info">
    <div class="panel panel-default">
        @*title*@
        <div class="panel-heading">
        </div>
        
        <div class="panel-body">
            <div id="div_article_update" class="div_articleDetails" hidden>
                @*machine image and video*@
                <div style="text-align:center">
                    <video id="vid_machine" controls hidden>
                        <source id="src_machine"/>
                    </video>
                        
                    @*message label*@
                    <div style="margin-bottom:30px">
                        <spn id="spn_fileStatusLabel"></spn>
                    </div>
                </div>

                @*form*@
                <form>
                    <div id="div_form" class="form-horizontal bucket-form">
                    </div>
                </form>
                <div style="text-align:center">
                    <p id="p_resultLabel"></p>
                    <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                </div>
            </div>

            <div id="div_articles_panel">
                @*menubar*@
                <div class="row w3-res-tb">
                    <div class="col-sm-5 m-b-xs">
				        <select id="slct_tableMenubar" class="input-sm form-control w-sm inline v-middle"></select>
				        <button id="btn_apply" class="btn btn-sm btn-default"></button>                
                    </div>
                    <div class="col-sm-4">
                    </div>
			        @*search bar*@
			        @*<div class="col-sm-3">
				        <div class="input-group">
					        <input type="text" class="input-sm form-control" placeholder="Ara">
					        <span class="input-group-btn">
						        <button class="btn btn-sm btn-default" type="button">
							        Ara
						        </button>
					        </span>
				        </div>
			        </div>*@
			        @*/search bar*@
		        </div>

                @*machine articles*@
                <div id="div_articles" class="div_articles">
                </div>

                @*entity count and pagination buttons*@
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-5 text-left">
                            <small id="small_entityQuantity" class="text-muted inline m-t-sm m-b-s">
					        </small>
                        </div>
                        <div class="col-sm-7 text-right text-center-xs">                
                            <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script>
    const tableTitleByLanguages = {
        "TR": "KAYITLI MAKİNELER",
        "EN": "REGISTERED MACHINES"
    };
    const entityQuantity_messageByLanguages = {
        "TR": "makine gösteriliyor",
        "EN": "machine displaying"
    };
    const tableMenubar_optionsByLanguages = {
        "TR": [
            "Seçilenleri Sil"
        ],
        "EN": [
            "Delete Selected"
        ]
    };
    const tableMenubar_applyButtonName = {
        "TR": "Uygula",
        "EN": "Apply"
    };
    const updateButtonNameByLanguages = {
        "TR": "Güncelle",
        "EN": "Update"
    };
    const description_baseButtonNameByLanguages = {
        "TR": "Açıklama",
        "EN": "Description"
    };
    const pdfButtonNameByLanguages = {
        "TR": "PDF değiştir",        
        "EN": "Change PDF"
    }
    const machineImageButtonNameByLanguages = {
        "TR": "Resim Değiştir",
        "EN": "Change Image"
    }
    const playImageAltAndTitleByLanguages = {
        "TR": "Oynat",
        "EN": "Play"
    }
    const successMessagesByLanguages = {
        "TR": {
            "successfulUpdate": "başarıyla güncellendi",
        },
        "EN": {
            "successfulUpdate": "updated successfully",
        }
    }
    const errorMessagesByLanguages = {
        "TR": {
            "unsuccessfulInfosUpdating": "bilgiler güncellenirken bir hata oluştu",
            "unsuccessfulImageUpdating": "resim güncellenirken bir hata oluştu",
            "unsuccessfulVideoUpdating": "video güncellenirken bir hata oluştu",
            "unsuccessfulPdfUpdating": "pdf güncellenirken bir hata oluştu"
        },
        "EN":{
            "unsuccessfulInfosUpdating": "an error occured when informations updating",
            "unsuccessfulImageUpdating": "an error occured when image updating",
            "unsuccessfulVideoUpdating": "an error occured when video updating",
            "unsuccessfulPdfUpdating": "an error occured when pdf updating"
        }
    }
    let article_idsAndMachineInfos = {};  // id == article Id
    let article_totalCount = 0;
</script>
<script type="module" src="~/js/miar_machine_display.js"></script>
<script type="module" src="~/js/miar_descriptions.js"></script>
