@model IServiceManager;


<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>

        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
				<select id="slct_tableMenubar" class="input-sm form-control w-sm inline v-middle">
				</select>
				<button id="btn_apply" class="btn btn-sm btn-default">
                </button>                
            </div>
            <div class="col-sm-4">
            </div>
			@*search bar*@
			@*<div class="col-sm-3">
				<div class="input-group">
					<input type="text" class="input-sm form-control" placeholder="Ara">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button">
							Ara
						</button>
					</span>
				</div>
			</div>*@
			@*/search bar*@
		</div>

        <div class="table-responsive">
            <table id="tbl_machine" class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px">
                            <label class="i-checks m-b-rowNone">
								<input id="box_all" type="checkbox"><i></i>
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <small id="small_entityQuantity" class="text-muted inline m-t-sm m-b-s">
					</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">                
                    <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="module" src="~/js/miar_machine_display.js"></script>
<script>
    const tableTitleByLanguages = {
        "TR": "KAYITLI MAKİNELER",
        "EN": "REGISTERED MACHINES"
    };
    const columnNamesByLanguages = {
        "TR": {
            "image": "Resim",
            "mainCategory": "Ana Kategori",
            "subCategory": "Alt Kategori",
            "model": "Model",
            "brand": "Marka",
            "handStatus": "El Durumu",
            "stock": "Stok",
            "rented": "Kiralık",
            "sold": "Satılık",
            "year": "Yıl",
            "createdAt": "Kayıt Tarihi",
            "descriptions": "Açıklama",
            "pdf": "PDF",
            "processes": "İşlemler",
        },
        "EN": {
            "image": "Image",
            "mainCategory": "Maincategory",
            "subCategory": "Subcategory",
            "model": "Model",
            "brand": "Brand",
            "handStatus": "Hand Status",
            "stock": "Stock",
            "rented": "Rent",
            "sold": "Sold",
            "year": "Year",
            "createdAt": "Registration Date",
            "descriptions": "Description",
            "pdf": "PDF",
            "processes": "Processes",
        },    
    };
    const entityQuantity_messageByLanguages = {
        "TR": "makine gösteriliyor",
        "EN": "machine displaying"
    };
    const tableMenubar_optionsByLanguages = {
        "TR": [
            "Seçilenleri Sil"
        ],
        "EN": [
            "Delete Selected"
        ]
    };
    const tableMenubar_applyButtonName = {
        "TR": "Uygula",
        "EN": "Apply"
    };
    const updateButtonNameByLanguages = {
        "TR": "Güncelle",
        "EN": "Update"
    };
    const description_baseButtonNameByLanguages = {
        "TR": "Açıklama",
        "EN": "Description"
    };
</script>
