/*////////////////  ARTICLE PAGE  //////////////*/
.img_play {
    cursor: pointer;
}

.btn_article {
    background-color: dimgray;
    color: white;
    text-align: center;
}

    .btn_article > a {
        color: white;
        text-decoration: none;
    }

        .btn_article > a:hover {
            font-weight: bold
        }

#slct_menubar {
    font-size: 13px;
}

.btn_menubar_apply {
    background-color: rgb(220, 0, 0);
    color: white
}

    .btn_menubar_apply:hover {
        color: white;
        font-weight: bold
    }


/*//////////////////  UPDATE PAGE  ////////////////*/
.form_file_input {
    cursor: pointer
}

    .form_file_input:hover {
        font-weight: bold
    }