#td_message {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

#div_message {
    height: 200px;
    text-align: center;
    margin: 20px 150px;
}

#btn_complete {
    background-color: #521FFF;
    color: white;
    margin-top: 60px;
}

    #btn_complete:disabled {
        background-color: darkgrey
    }

#btn_accept {
    background-color: #521FFF;
    color: white;
}

#btn_reject {
    background-color: red;
    color: white;
}

#td_model {
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}

#td_mainCategory {
    font-size: 18px;
    font-weight: bold;
}

#td_subCategory {
    font-size: 16px;
    font-weight: bold;
}
