/*machine display page (article page)*/
.article {
    border-style: solid;
    float: left;
    border-radius: 25px;
    cursor: pointer;
    text-align: center
}

    .article:hover {
        background-color: lightgrey;
    }

.div_articles {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_play {
    cursor: pointer;
}

.btn_article {
    background-color: dimgray;
    color: white;
    text-align: center;
}

    .btn_article > a {
        color: white;
        text-decoration: none;
    }

        .btn_article > a:hover {
            font-weight: bold
        }

#slct_menubar {
    font-size: 13px;
}

.btn_menubar_apply {
    background-color: rgb(220, 0, 0);
    color: white
}

    .btn_menubar_apply:hover {
        color: white;
        font-weight: bold
    }
/*///////////////////////////////////////////////////*/


/*machine display page (update page)*/
.btn_form_label {
    background-color: darkblue;
    position: relative;
    bottom: 8px;
    color: red;
    font-weight: bold;
}

    .btn_form_label:hover {
        color: white;
    }

    .btn_form_label:focus {
        color: red;
    }

.form_file_input {
    cursor: pointer
}

    .form_file_input:hover {
        font-weight: bold
    }

#btn_back {
    color: black;
    background-color: red;
    width: 55px;
}
/*///////////////////////////////////////////////////*/

/*form display page*/
.article_form_message {
    word-wrap: break-word;
    margin-top: 8px
}
