input:hover{
    background-color: #4136f1;
    color: white
}
    input:hover::selection {
        background-color: white;
        color: black
    }

.tr_columnNames th{
    text-align:center;
}

.table-responsive tbody{
    text-align: center
}

.table-responsive tbody td {
  word-break:keep-all;
}