<!DOCTYPE html>
<html>
	<head>
		<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- bootstrap-css -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<!-- font CSS -->
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="~/css/font.css" type="text/css"/>
		<link href="~/css/font-awesome.css" rel="stylesheet"> 
		<link rel="stylesheet" href="~/css/morris.css" type="text/css"/>
		<!-- calendar -->
		<link rel="stylesheet" href="~/css/monthly.css">
		<!-- //calendar -->
		<!-- //font-awesome icons -->
		<script src="~/js/jquery2.0.3.min.js"></script>
	</head>
	<body>
		<section id="container">
			<!--header start-->
			<header class="header fixed-top clearfix">
				<!--logo start-->
				<div class="brand">
					<a href="index.html" class="logo">
						TEMSA
					</a>
					<div class="sidebar-toggle-box">
						<div class="fa fa-bars"></div>
					</div>
				</div>
				<!--logo end-->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search start -->
						<li>
							<input type="text" class="form-control search" placeholder=" Ara">
						</li>
						<!-- search end -->
						<!-- user login dropdown start-->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">Mert Akdemir</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
								<li><a href="#"><i class="fa fa-cog"></i>Ayarlar</a></li>
								<li><a href="login.html"><i class="fa fa-close"></i>Çıkış Yap</a></li>
							</ul>
						</li>
						<!-- user login dropdown end -->
					</ul>
				</div>
			</header>
			<!--header end-->

			<!--sidebar start-->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<!-- sidebar menu start-->
					<div class="leftside-navigation">
						<ul class="sidebar-menu" id="nav-accordion">
							<li>
								<a class="active" href="index.html">
									<i class="fa fa-dashboard"></i>
									<span>Ana Sayfa</span>
								</a>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>Kullanıcılar</span>
								</a>
								<ul class="sub">
									<li><a href="#">Yeni Oluştur</a></li>
									<li><a href="#">Kayıtlı Olanları Görüntüle</a></li>
									<li><a href="#">Bilgileri Güncelle</a></li>
									<li><a href="#">Sil</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>Makineler</span>
								</a>
								<ul class="sub">
									<li><a href="#">Yeni Oluştur</a></li>
									<li><a href="#">Kayıtlı Olanları Görüntüle</a></li>
									<li><a href="#">Bilgileri Güncelle</a></li>
									<li><a href="#">Sil</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-briefcase"></i>
									<span>Formlar</span>
								</a>
								<ul class="sub">
									<li><a href="#">Satın Alma Talep Formu</a></li>
									<li><a href="#">Kiralama Talep Formu</a></li>
									<li><a href="#">2. El Talep Formu</a></li>
									<li><a href="#">Bilgi Talep Formu</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-briefcase"></i>
									<span>Ayarlar</span>
								</a>
								<ul class="sub">
									<li><a href="#">Yeni Oluştur</a></li>
									<li><a href="#">Kayıtlı Olanları Görüntüle</a></li>
									<li><a href="#">Bilgileri Güncelle</a></li>
									<li><a href="#">Sil</a></li>
								</ul>
							</li>
						</ul>            
					</div>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--sidebar end-->

			<!--main content start-->
			<div id="div_renderBody">
				@RenderBody();
			</div>
			<!--main content end-->
		</section>

		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="~/js/jquery.scrollTo.js"></script>
	</body>
</html>