<div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">    
                <section class="panel">
                    <header class="panel-heading">
                        Yeni Kullanıcı Oluştur
                    </header>
                    <div class="panel-body">
                        <form>
                            <div class="form-horizontal bucket-form">
                                <!-- firstName -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ad</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_firstName" type="text" class="form-control" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- /firstName -->
                                <!-- lastName -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Soyad</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_lastName" type="text" class="form-control" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- /lastName -->
                                <!-- telNo -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Telefon Numarası</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_telNo" type="text" class="form-control" required>
                                        <span class="help-block">* Başında sıfır olmadan 10 haneli giriniz.</span>
                                    </div>
                                </div>
                                <!-- /telNo -->
                                <!-- email -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_email" type="email" class="form-control" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- /email -->
                                <!-- Company Name -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Şirket Adı</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_companyName" type="text" class="form-control" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- /Company Name -->
                                <!-- Role -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Rol</label>
                                    <div class="col-sm-6">
                                        <select id="slct_role" class="form-control m-bot15">
                                            <option>User</option>
                                            <option>Editor</option>
                                            <option>Admin</option>
                                        </select>
                                    </div>
                                </div>   
                                <!-- /Role -->
                                <!-- Password -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Şifre</label>
                                    <div class="col-sm-6">
                                        <input id="inpt_password" type="text" class="form-control" required>
                                        <span class="help-block">* 6 ile 16 karakter arasında giriniz.</span>
                                    </div>
                                </div>
                                <!-- /Password -->
                                <!-- register button -->
                                <div class="form-group">
                                    <div class="col-sm-6; text-center">
                                        <button id="btn_register" type="submit" class="btn btn-danger">Kaydet</button>
                                    </div>
                                    <div style="text-align:center">
                                        <p id="p_resultLabel"></p>
                                    </div>
                                </div>
                                <!-- /register button-->
                            </div>
                         </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script type="module" src="~/js/createUser.js"></script>