@model IServiceManager

@{
    var language = ViewBag.Language;

    #region set elements by languages
    
    #region set update button name
    var updateButtonName = language switch
    {
        "TR" => "Güncelle",
        "EN" => "Update"
    };
    #endregion

    #region set entity count message
    var entityCountMessage = language switch
    {
        "TR" => "kullanıcı gösteriliyor",
        "EN" => "user displaying"
    };
    #endregion

    #endregion
}

<div class="table-agile-info">
    <div class="panel panel-default">
        @*title*@
        <div class="panel-heading">
            Kayıtlı Kullanıcılar
        </div>
        @*/title*@

        @*menubar*@
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
				<select id="slct_menubar" class="input-sm form-control w-sm inline v-middle">
					<option value="1">Seçilenleri Sil</option>
				</select>
				<button id="btn_apply" class="btn btn-sm btn-default">Uygula</button>                
            </div>
            <div class="col-sm-4">
            </div>
			@*search bar*@
            @*<div class="col-sm-3">
				<div class="input-group">
					<input type="text" class="input-sm form-control" placeholder="Ara">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button">
							Ara
						</button>
					</span>
				</div>
            </div>*@
			@*/search bar*@
        </div>
        @*/menubar*@

        @*/data*@
        <div class="table-responsive">
            <table id="tbl_user" class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-none">
								<input id="box_all" type="checkbox"><i></i>
                            </label>
                        </th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Şirket Adı</th>
                        <th>Telefon Numarası</th>
                        <th>Email</th>
                        <th>Roller</th>
                        <th>Kayıt Tarihi</th>
                        <th>İşlemler</th>
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @*/data*@

        @*/navigation*@
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <small id="lbl_entityQuantity" class="text-muted inline m-t-sm m-b-s">
						<b>0</b> @entityCountMessage
					</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">                
                    <ul id="ul_pagination" class="pagination pagination-sm m-t-none m-b-none">
                    </ul>
                </div>
            </div>
        </footer>
        @*/navigation*@
    </div>
</div>

<script type="module" src="~/js/userForDisplay.js"></script>

<script>
	let language = "@language";
	let updateButtonName = "@updateButtonName";
    let rolesByLanguage = @Json.Serialize(await Model
        .UserService
        .GetAllRolesByLanguageAsync(language))  
</script>
