@using System.Security.Claims;

@{
	#region get firstName and lastName from claims
	var firstName = Context.User.Claims
		.First(c => c.Type.Equals(ClaimTypes.Name))
		.Value
		.ToUpper();
	
	var lastName = Context.User.Claims
		.First(c => c.Type.Equals(ClaimTypes.Surname))
		.Value
		.ToUpper();
	#endregion
}

<!DOCTYPE html>
<html>
	<head>
		<title>Komatsu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Komatsu Admin Panel">	

		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href="~/css/font-awesome.css" rel="stylesheet">
		
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="~/js/jquery2.0.3.min.js"></script>
		<script type="module" src="~/js/miar_mainLayout.js"></script>
		<script type="module" src="~/js/miar_tools.js"></script>
		<script type="module" src="~/js/miar_header.js"></script>
	</head>
	<body>
		<section id="container">
			<!-- header start -->
			<header class="header fixed-top clearfix">
				<!-- logo -->
				<div class="brand">
					<a href="/machine/display" class="logo">KOMATSU</a>
					<div class="sidebar-toggle-box">
						<div id="div_sidebarMenuButton" class="fa fa-bars"></div>
					</div>
				</div>
				<!-- //logo -->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search bar start -->
						@*<li>
							<input id="inpt_searchBar" type="text" class="form-control search" />
						</li>*@
						<!-- search bar end -->
						<!-- language dropdown -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img id="img_displayingFlag">
								<span id="spn_displayingLanguage" class="username"></span>
								<b class="caret"></b>
							</a>
							<ul id="ul_languages" class="dropdown-menu extended logout">
							</ul>
						</li>
						<!-- language dropdown -->
						<!-- profile options dropdown start -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">
									@firstName @lastName
								</span>
								<b class="caret"></b>
							</a>
							<ul id="ul_profileOptions" class="dropdown-menu extended logout"></ul>
						</li>
						<!-- profile options dropdown start -->
					</ul>
				</div>
			</header>
			<!-- header end -->
			<!-- sidebar menu start -->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<div class="leftside-navigation">
						<ul id="nav-accordion" class="sidebar-menu">
						</ul>            
					</div>
				</div>
			</aside>
			<!-- sidebar menu end -->
			<!-- main content start -->
			<section id="main-content">
				<span id="spn_eventManager"></span>
				
				@*main content*@
				<section class="wrapper">
					@RenderBody()
				</section>
				@*/main content*@

				<!-- footer -->
				<div class="footer">
					<div class="wthree-copyright">
						<p>
							<span id="spn_footerInfo"></span>
							<a href="https://mostidea.com.tr">MostIdea</a>
						</p>
					</div>
				</div>
				<!-- / footer -->
			</section>
			<!-- main content end -->
		</section>

		<script>
			//const baseApiUrl = "http://104.247.163.183:5551/api/services";  // for iis in server
			//const baseApiUrl = "http://192.168.200.1:5551/api/services";  // for iis in my pc
			const baseApiUrl = "http://localhost:7091/api/services";  // for local
			const token = localStorage.getItem("token");
			const jwtToken = "Bearer " + token;
			const searchBarPlaceHolderByLanguages = {
				"TR": "Ara",
				"EN": "Search"
			};
			const profileOptionsByLanguages = {
				"TR": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profil",
						"href": `/profileOption/profile`
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Çıkıp Yap",
						"href": "/authentication/logout"
					},
				},
				"EN": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profile",
						"href": `/profileOption/profile`
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Logout",
						"href": "/authentication/logout"
					},
				}
			}
			const sidebar_mainMenus_byLanguages = {
				"TR": {
					"users": {
						"icon": "fa fa-book",
						"label": "Kullanıcılar",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Makineler",
						"href": "#"
					},
					"sliders": {
						"icon": "fa fa-cog",
						"label": "Sliderlar",
						"href": "/slider/index"
					},
					"forms" : {
						"icon": "fa fa-cog",
						"label": "Formlar",
						"href": "#"
					}
				},
				"EN": {
					"users": {
						"icon": "fa fa-book",
						"label": "Users",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Machines",
						"href": "#"
					},
					"sliders": {
						"icon": "fa fa-cog",
						"label": "Sliders",
						"href": "/slider/index"
					},
					"forms" : {
						"icon": "fa fa-cog",
						"label": "Forms",
						"href": "#"
					}
				}
			};
			const sidebar_subMenus_byLanguages = {
				"TR": {
					"users": {
						"newUser": {
							"label": "Yeni Kullanıcı",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Kayıtlı Kullanıcılar",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "Yeni Makine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Kayıtlı Makineler",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"generalCommunication": {
							"label": "Genel iletişim Formu",
							"href": "/form/generalCommunication"
						},
						"getOffer": {
							"label": "Teklif Alma Formu",
							"href": "/form/getOffer"
						},
						"renting": {
							"label": "Kiralama Formu",
							"href": "/form/renting"
						}
					}
				},
				"EN": {
					"users": {
						"newUser": {
							"label": "New User",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Registered Users",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "New Machine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Registered Machines",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"generalCommunication": {
							"label": "General Communication Form",
							"href": "/form/generalCommunication"
						},
						"getOffer": {
							"label": "Get Offer Form",
							"href": "/form/getOffer"
						},
						"renting": {
							"label": "Renting Form",
							"href": "/form/renting"
						}
					}
				}
			};
			const sidebar_width = 240;
			const footerInfoByLanguages = {
				"TR": "© 2023 Tüm hakları saklıdır. | Designed by ",
				"EN": "© 2023 All rights reserved. | Designed by "
			};
			const localKeys_token = "token";
			const localKeys_language = "language";
			const localKeys_allRoles = "allRoles";
			const localKeys_allMainCategories = "allMainCategories";
			const localKeys_allSubCategories = "allSubCategories";
			const localKeys_allLanguages = "allLanguages";
			const localKeys_sliderNoAndPaths = "sliderNoAndPaths"
			const localKeys_handStatuses = "allHandStatuses";
			const localKeys_claimInfos = "claimInfos";
			const localKeys_telNoForLogin = "telNoForLogin";
			const descriptions_unsavedColor = "red";
			const descriptions_savedColor = "lightgreen";
			const img_displayingFlag_id = "img_displayingFlag";
			const spn_displayingLanguage_id = "spn_displayingLanguage";
			const resultLabel_errorColor = "red";
			const resultLabel_successColor = "rgb(16, 155, 16)";
			const fileStatusLabel_color = "darkBlue";
			const spn_eventManager = $("#spn_eventManager");
			const inpt_fileChooser = $("#inpt_fileChooser");
			const button_disabledColor = "DarkGrey";
			const partnerInformationMessagesByLanguages = {
				"TR": {
					"fileLoading": "dosya yükleniyor...",
				},
				"EN": {
					"fileLoading": "file loading...",
				}
			}
			const langPack_partnerErrorMessages = {
				"invalidFileType": {
					"TR": "geçersiz dosya tipi",
					"EN": "invalid file type"
				},
				"nullArguments": {
					"TR": "herhangi bir değişiklik yapılmadı",
					"EN": "no changes were made"
				},
				"noPermission": {
					"TR": "yetkiniz yok",
					"EN": "you don't have permission"
				},
				"anErrorOccured": {
					"TR": "bir hata oluştu", 
					"EN": "an error occured"
				}
			}
			let language = localStorage.getItem("language"); // language was add at "login.cshtml".
		</script>
		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<script src="~/js/jquery.scrollTo.js"></script>
	</body>
</html>
