@using System.Security.Claims;

@{
	#region get firstName and lastName from claims
	var firstName = Context.User.Claims
		.First(c => c.Type.Equals(ClaimTypes.Name))
		.Value
		.ToUpper();
	
	var lastName = Context.User.Claims
		.First(c => c.Type.Equals(ClaimTypes.Surname))
		.Value
		.ToUpper();
	#endregion
}

<!DOCTYPE html>
<html>
	<head>
		<title>Komatsu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Komatsu Admin Panel"/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!-- bootstrap-css -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<!-- font CSS -->
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- font-awesome icons -->
		<link href="~/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<script src="~/js/jquery2.0.3.min.js"></script>
		<script type="module" src="~/js/miar_layout.js"></script>
		<script type="module" src="~/js/miar_tools.js"></script>
		<script type="module" src="~/js/miar_header.js"></script>
	</head>
	<body>
		<section id="container">
			<!-- header start -->
			<header class="header fixed-top clearfix">
				<!-- logo -->
				<div class="brand">
					<a href="/user/create" class="logo">
						KOMATSU
					</a>
					<div class="sidebar-toggle-box">
						<div class="fa fa-bars"></div>
					</div>
				</div>
				<!-- //logo -->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search bar start -->
						<li>
							<input id="inpt_searchBar" type="text" class="form-control search" />
						</li>
						<!-- search bar end -->
						<!-- language dropdown -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img id="img_displayingFlag">
								<span id="spn_displayingLanguage" class="username"></span>
								<b class="caret"></b>
							</a>
							<ul id="ul_languages" class="dropdown-menu extended logout">
							</ul>
						</li>
						<!-- language dropdown -->
						<!-- user settings dropdown start -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">
									@firstName @lastName
								</span>
								<b class="caret"></b>
							</a>
							<ul id="ul_userSettingsMenu" class="dropdown-menu extended logout">
							</ul>
						</li>
						<!-- user settings dropdown start -->
					</ul>
				</div>
			</header>
			<!-- header end -->
			<!-- sidebar menu start -->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<!-- sidebar menu start-->
					<div class="leftside-navigation">
						<ul id="nav-accordion" class="sidebar-menu">
						</ul>            
					</div>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!-- sidebar menu end -->
			<!-- main content start -->
			<section id="main-content">
				<section class="wrapper">
					@RenderBody()
				</section>

				<!-- footer -->
				<div class="footer">
					<div class="wthree-copyright">
						<p>
							<span id="spn_footerInfo"></span>
							<a href="https://mostidea.com.tr">MostIdea</a>
						</p>
					</div>
				</div>
				<!-- / footer -->
			</section>
			<!-- main content end -->
		</section>

		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		@*<script src="~/js/jquery.fileupload.js"></script>*@
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="~/js/jquery.scrollTo.js"></script>

		<script>
			let language = localStorage.getItem("language"); // language was add at "login.cshtml".
			const baseApiUrl = "https://localhost:7091/api/services";
			const jwtToken = "Bearer " + localStorage.getItem("token");
			const searchBarPlaceHolderByLanguages = {
				"TR": "Ara",
				"EN": "Search"
			};
			const userSettingsMenuByLanguages = {
				"TR": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profil"
					},
					"settings": {
						"icon": "fa fa-cog",
						"label": " Ayarlar"
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Çıkıp Yap"
					},
				},
				"EN": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profile"
					},
					"settings": {
						"icon": "fa fa-cog",
						"label": " Settings"
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Logout"
					},
				}
			}
			const sidebar_mainMenus_byLanguages = {
				"TR": {
					"homePage": {
						"icon": "fa fa-dashboard",
						"label": "Ana Sayfa",
						"href": "#"
					},
					"users": {
						"icon": "fa fa-book",
						"label": "Kullanıcılar",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Makineler",
						"href": "#"
					},
					"forms": {
						"icon": "fa fa-book",
						"label": "Formlar",
						"href": "#"
					},
					"settings": {
						"icon": "fa fa-cog",
						"label": "Ayarlar",
						"href": "#"
					}
				},
				"EN": {
					"homePage": {
						"icon": "fa fa-dashboard",
						"label": "HomePage",
						"href": "#"
					},
					"users": {
						"icon": "fa fa-book",
						"label": "Users",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Machines",
						"href": "#"
					},
					"forms": {
						"icon": "fa fa-book",
						"label": "Forms",
						"href": "#"
					},
					"settings": {
						"icon": "fa fa-cog",
						"label": "Settings",
						"href": "#"
					}
				}
			};
			const sidebar_subMenus_byLanguages = {
				"TR": {
					"users": {
						"newUser": {
							"label": "Yeni Kullanıcı",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Kayıtlı Kullanıcılar",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "Yeni Makine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Kayıtlı Makineler",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"buyingDemandForm": {
							"label": "Satın Alma Talep Formu",
							"href": "#",
						},
						"rentingDemandForm": {
							"label": "Kiralama Talep Formu",
							"href": "#",
						},
						"secondHandDemandForm": {
							"label": "İkinci El Talep Formu",
							"href": "#",
						},
						"informationDemandForm": {
							"label": "Bilgi Talep Formu",
							"href": "#",
						}
					},
					"settings": {
						"sliders": {
							"label": "Sliderlar",
							"href": "/settings/sliders"
						}
					}
				},
				"EN": {
					"users": {
						"newUser": {
							"label": "New User",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Registered Users",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "New Machine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Registered Machines",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"buyingDemandForm": {
							"label": "Buying Demand Form",
							"href": "#",
						},
						"rentingDemandForm": {
							"label": "Renting Demand Form",
							"href": "#",
						},
						"secondHandDemandForm": {
							"label": "Secondhand Demand Form",
							"href": "#",
						},
						"informationDemandForm": {
							"label": "Information Demand Form",
							"href": "#",
						}
					},
					"settings": {
						"sliders": {
							"label": "Sliders",
							"href": "/settings/sliders"
						}
					}
				}
			};
			const footerInfoByLanguages = {
				"TR": "© 2023 Tüm hakları saklıdır. | Designed by ",
				"EN": "© 2023 All rights reserved. | Designed by "
			};
			const localKeys_allRoles = "allRoles";
			const localKeys_allMainCategories = "allMainCategories";
			const localKeys_allSubCategories = "allSubCategories";
			const localKeys_allLanguages = "allLanguages";
			const localKeys_sliderFileNames = "sliderFileNames";
			const localKeys_sliderNoAndPaths = "sliderNoAndPaths";
			const img_displayingFlag_id = "img_displayingFlag";
			const spn_displayingLanguage_id = "spn_displayingLanguage";
			const resultLabel_errorColor = "red";
			const resultLabel_successColor = "rgb(16, 155, 16)";
		</script>
	</body>
</html>
