<!DOCTYPE html>
<html>
	<head>
		<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- bootstrap-css -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<!-- font CSS -->
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="~/css/font.css" type="text/css"/>
		<link href="~/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<script src="~/js/jquery2.0.3.min.js"></script>
	</head>
	<body>
		<section id="container">
			<!--header start-->
			<header class="header fixed-top clearfix">
				<!--logo start-->
				<div class="brand">
					<a href="index.html" class="logo">
						TEMSA
					</a>
					<div class="sidebar-toggle-box">
						<div class="fa fa-bars"></div>
					</div>
				</div>
				<!--logo end-->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search start -->
						<li>
							<input type="text" class="form-control search" placeholder=" Ara">
						</li>
						<!-- search end -->
						<!-- user login dropdown start-->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">Mert Akdemir</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
								<li><a href="#"><i class="fa fa-cog"></i>Ayarlar</a></li>
								<li><a href="login.html"><i class="fa fa-close"></i>Çıkış Yap</a></li>
							</ul>
						</li>
						<!-- user login dropdown end -->
					</ul>
				</div>
			</header>
			<!--header end-->

			<!--sidebar start-->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<!-- sidebar menu start-->
					<div class="leftside-navigation">
						<ul class="sidebar-menu" id="nav-accordion">
							<li>
								<a class="active" href="index.html">
									<i class="fa fa-dashboard"></i>
									<span>Ana Sayfa</span>
								</a>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>Kullanıcılar</span>
								</a>
								<ul class="sub">
									<li><a href="/user/create">Yeni Kullanıcı</a></li>
									<li><a href="/user/display">Kayıtlı Kullanıcılar</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>Makineler</span>
								</a>
								<ul class="sub">
									<li><a href="/machine/create">Yeni Makine</a></li>
									<li><a href="/machine/display">Kayıtlı Makineler</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-briefcase"></i>
									<span>Formlar</span>
								</a>
								<ul class="sub">
									<li><a href="#">Satın Alma Talep Formu</a></li>
									<li><a href="#">Kiralama Talep Formu</a></li>
									<li><a href="#">2. El Talep Formu</a></li>
									<li><a href="#">Bilgi Talep Formu</a></li>
								</ul>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-briefcase"></i>
									<span>Ayarlar</span>
								</a>
								<ul class="sub">
									<li><a href="#">Yeni Oluştur</a></li>
									<li><a href="#">Kayıtlı Olanları Görüntüle</a></li>
									<li><a href="#">Bilgileri Güncelle</a></li>
									<li><a href="#">Sil</a></li>
								</ul>
							</li>
						</ul>            
					</div>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--sidebar end-->

			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">
					@RenderBody();
				</section>

				<!-- footer -->
				<div class="footer">
					<div class="wthree-copyright">
						<p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
					</div>
				</div>
				<!-- / footer -->
			</section>
			<!--main content end-->
		</section>

		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="~/js/jquery.scrollTo.js"></script>

		<script>
			function convertErrorCodeToErrorMessage(errorCode)
			{
				switch (errorCode) {
					//#region user error codes
					//////////////////////////////////////////
					//#region format error codes
					// with one code
					case "FE-U-F": return "ad geçerli değil";
					case "FE-U-L": return "soyad geçerli değil";
					case "FE-U-C": return "şirket adı geçerli değil";
					case "FE-U-T": return "telefon numarası geçerli değil";
					case "FE-U-E": return "email geçerli değil";
					case "FE-U-P": return "şifre geçerli değil";

					// with two code
					case "FE-U-FL": return "ad ve soyad geçerli değil";
					case "FE-U-FC": return "ad ve şirket adı geçerli değil";
					case "FE-U-FT": return "ad ve telefon numarası geçerli değil";
					case "FE-U-FE": return "ad ve email geçerli değil";
					case "FE-U-FP": return "ad ve şifre geçerli değil";
					case "FE-U-LC": return "soyad ve şirket adı geçerli değil";
					case "FE-U-LT": return "soyad ve telefon geçerli değil";
					case "FE-U-LE": return "soyad ve email geçerli değil";
					case "FE-U-LP": return "soyad ve şifre geçerli değil";
					case "FE-U-CT": return "şirket adı ve telefon geçerli değil";
					case "FE-U-CE": return "şirket adı ve email geçerli değil";
					case "FE-U-CP": return "şirket adı ve şifre geçerli değil";
					case "FE-U-TE": return "telefon numarası ve email geçerli değil";
					case "FE-U-TP": return "telefon numarası ve şifre geçerli değil";
					case "FE-U-EP": return "email ve şifre geçerli değil";

					// with three code
					case "FE-U-FLC": return "ad, soyad ve şirket adı geçerli değil";
					case "FE-U-FLT": return "ad, soyad ve telefon numarası geçerli değil";
					case "FE-U-FLE": return "ad, soyad ve email geçerli değil";
					case "FE-U-FLP": return "ad, soyad ve şifre geçerli değil";
					case "FE-U-FCT": return "ad, şirket adı ve telefon numarası geçerli değil";
					case "FE-U-FCE": return "ad, şirket adı ve email geçerli değil";
					case "FE-U-FCP": return "ad, şirket adı ve şifre geçerli değil";
					case "FE-U-FTE": return "ad, telefon numarası ve email geçerli değil";
					case "FE-U-FTP": return "ad, telefon numarası ve şifre geçerli değil";
					case "FE-U-FEP": return "ad, email ve şifre geçerli değil";
					case "FE-U-LCT": return "soyad, şirket adı ve telefon numarası geçerli değil";
					case "FE-U-LCE": return "soyad, şirket adı ve email geçerli değil";
					case "FE-U-LCP": return "soyad, şirket adı ve şifre geçerli değil";
					case "FE-U-LTE": return "soyad, telefon numarası ve email geçerli değil";
					case "FE-U-LTP": return "soyad, telefon numarası ve şifre geçerli değil";
					case "FE-U-LEP": return "soyad, email ve şifre geçerli değil";
					case "FE-U-CTE": return "şirket adı, telefon numarası ve email geçerli değil";
					case "FE-U-CTP": return "şirket adı, telefon numarası ve şifre geçerli değil";
					case "FE-U-CEP": return "şirket adı, email ve şifre geçerli değil";
					case "FE-U-TEP": return "telefon numarası, email ve şifre geçerli değil";

					// with four code
					case "FE-U-FLCT": return "ad, soyad, şirket adı ve telefon numarası geçerli değil";
					case "FE-U-FLCE": return "ad, soyad, şirket adı ve email geçerli değil";
					case "FE-U-FLCP": return "ad, soyad, şirket adı ve şifre geçerli değil";
					case "FE-U-FLTE": return "ad, soyad, telefon numarası ve email geçerli değil";
					case "FE-U-FLTP": return "ad, soyad, telefon numarası ve şifre geçerli değil";
					case "FE-U-FLEP": return "ad, soyad, email ve şifre geçerli değil";
					case "FE-U-FCTE": return "ad, şirket adı, telefon numarası ve email geçerli değil";
					case "FE-U-FCTP": return "ad, şirket adı, telefon numarası ve şifre geçerli değil";
					case "FE-U-FCEP": return "ad, şirket adı, email ve şifre geçerli değil";
					case "FE-U-FTEP": return "ad, telefon numarası, email ve şifre geçerli değil";
					case "FE-U-LCTE": return "soyad, şirket adı, telefon numarası ve email geçerli değil";
					case "FE-U-LCTP": return "soyad, şirket adı, telefon numarası ve şifre geçerli değil";
					case "FE-U-LCEP": return "soyad, şirket adı, email ve şifre geçerli değil";
					case "FE-U-LTEP": return "soyad, telefon numarası, email ve şifre geçerli değil";
					case "FE-U-CTEP": return "şirket adı, telefon numarası, email ve şifre geçerli değil";

					// with five code
					case "FE-U-FLCTE": return "ad, soyad, şirket adı, telefon numarası ve email geçerli değil";
					case "FE-U-FLCTP": return "ad, soyad, şirket adı, telefon numarası ve şifre geçerli değil";
					case "FE-U-FLCEP": return "ad, soyad, şirket adı, email ve şifre geçerli değil";
					case "FE-U-FLTEP": return "ad, soyad, telefon numarası, email ve şifre geçerli değil";
					case "FE-U-FCTEP": return "ad, şirket adı, telefon numarası, email ve şifre geçerli değil";
					case "FE-U-LCTEP": return "soyad, şirket adı, telefon numarası, email ve şifre geçerli değil";

					// with six code
					case "FE-U-FLCTEP": return "ad, soyad, şirket adı, telefon numarası, email ve şifre geçerli değil";
					//#endregion

					//#region verification error codes
					case "VE-U-T": return "telefon numarası Yanlış";
					case "VE-U-P": return "şifre yanlış";
					//#endregion

					//#region conflict error codes
					case "CE-U-T": return "girilen telefon numarası daha önceden kullanılmış";
					case "CE-U-E": return "girilen email daha önceden kullanılmış";
					case "CE-U-TE": return "girilen telefon numarası ve email daha önceden kullanılmış";
					case "CE-U-M": return "girilen model daha önceden kaydedilmiş";
					//#endregion
					//////////////////////////////////////////
					//#endregion

					//#region machine error codes
					//////////////////////////////////////////
					//#region verification error codes
					case "VE-M-M": return "ana kategori bulunamadı";
					case "VE-M-S": return "alt kategori bulunamadı";
					case "VE-M-B": return "marka bulunamadı";
					case "VE-M-C": return "kategori bulunamadı";
					//#endregion

					//#region conflict error codes
					case "CE-M-M": return  "girilen model daha önceden kullanılmış";
					//#endregion
					//////////////////////////////////////////
					//#endregion

					//#region not found error codes
					case "NF-U": return "herhangi bir kullanıcı bulunamadı"
					case "NF-M": return "herhangi bir makine bulunamadı"
					//#endregion
				};
			}

			function getErrorMessage(responseText){
				var responseTextInJson = JSON.parse(responseText);

				return window.convertErrorCodeToErrorMessage(
					responseTextInJson["errorCode"]
				);
			}

			function writeErrorMessage(responseText, resultLabelId)
			{
				// convert error code to error message
				var responseTextInJson = JSON.parse(responseText);
				var errorMessage = convertErrorCodeToErrorMessage(
					responseTextInJson["errorCode"]);
				
				// show resultLabel
				$(resultLabelId).removeAttr("hidden");

				// write error
				updateResultLabel(errorMessage, "rgb(255, 75, 75)", resultLabelId);
			}

			function updateResultLabel(message, color, resultLabelId)
			{
				//#region reset resultLabel
				let resultLabel = $(resultLabelId);
				resultLabel.empty();
				//#endregion

				//#region change color
				resultLabel.attr("style",
					`color:${color}; 
					margin-top:30px; 
					margin-bottom: 30px;
					text-align: center`);
				//#endregion

				// show resultLabel
				$(resultLabelId).removeAttr("hidden");

				// update
				resultLabel.text(message);
			}

			function getDateTimeAsModified(dateTime) {
				//#region set year, hours and minutes
				let date = new Date(dateTime);

				let year = date.getFullYear();
				let hours = date.getHours() + 3;
				let minutes = date.getMinutes();
				//#endregion

				//#region set day
				let day = date.getDate();

				// add '0' to head
				let dayInString = day < 10 ?
					`0${day}`  // add 0
					: day.toString(); // don't add
				//#endregion

				//#region set month
				let month = date.getMonth() + 1;

				// add '0' to head
				let monthInString = month < 10 ?
					`0${month}`  // add 0
					: month.toString();  // don't add
				//#endregion

				return `${dayInString}.${monthInString}.${year} - ${hours}:${minutes}`;
			}

			function getHeaderInJson(headerName) {
				return JSON.parse(
					localStorage.getItem(headerName)
				);
			}
		</script>
	</body>
</html>