<html lang="en">
	<head>
		<title>Komatsu</title>
		<link rel="icon" href="~/images/komatsuTitleLogo_32x32.webp"/>

		<meta charset="utf-8"/> 
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="keyword" content="komatsu, admin panel"/>
		<meta name="description" content="komatsu admin panel" />

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/css/miar_login.css">
	</head>
	<body>
		<div>
			@RenderBody()
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="module" src="~/js/miar_header.js"></script>  @*for language dropdown*@
		<script type="module" src="~/js/miar_login.js"></script>

		<script>
			//const baseApiUrl = "http://104.247.163.183:5551/api/services";  // for iis in test server
			//const baseApiUrl = "http://172.26.193.213:5551/api/services";  // for iis in customer server
			const baseApiUrl = "http://localhost:7091/api/services";  // for local
			const localKeys_allLanguages = "allLanguages";
			const img_displayingFlag_id = "img_displayingFlag";
			const spn_displayingLanguage_id = "spn_displayingLanguage";
			const ul_languages_id = "ul_languages";
			const localKeys_token = "token";
			const localKeys_language = "language";
			const localKeys_telNoForLogin = "telNoForLogin";
		</script>
	</body>
</html>

