<div class="form-w3layouts">
	<div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    SLIDERS
                </header>
                <div class="panel-body" style="text-align:center">
                    <div id="div_sliders">
                        <img id="img_sliders"/>
                        <div style="margin-top:5px">
                            <span id="spn_fileStatusLabel"></span>
                        </div>
                        <div style="margin-top:30px;">
                            <button id="btn_previous" hidden>
                                <img src="~/images/prev.png" alt="previous"/>
                            </button>
                            <button id="btn_sliderNo" style="margin-left:15px; margin-right:15px"; disabled></button>
                            <button id="btn_next">
                                <img src="~/images/next.png" alt="next"/>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3" style="margin-top:50px">
                        <div>
                            <label for="inpt_chooseFile" class="form-label" style="float:left">Choose Picture</label>
                            <input id="inpt_chooseFile" type="file" class="form-control" accept="image/*"/>
                        </div>
                        <div style="text-align:center; margin-top:30px">
                            <button id="btn_save" class="btn btn-danger" style="background-color: darkblue">Save</button>
                            <button id="btn_remove" class="btn btn-danger">Remove</button>
                        </div>
                        <div style="margin-top:50px">
                            <span id="spn_resultLabel"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module" src="~/js/miar_sliders.js"></script>
<script>
    const slider_successMessageByLanguages = {
        "TR": "başarıyla kaydedildi",
        "EN": "save successful"
    }
    const slider_errorMessagesByLanguages = {
        "TR": {
            "uploadToFolder": "sunucu tarafında hata oluştu, lütfen daha sonra tekrar deneyiniz",
            "uploadToDb": "veritabanında hata oluştu, lütfen daha sonra tekrar deneyiniz"
        },
        "EN": {
            "uploadToFolder": "error occured on server-side, please try again later",
            "uploadToDb": "error occured on db, please try again later"
        }
    }
</script>



