@model IEnumerable<Claim>;

@{
    Layout = "_Layout";
}


<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header id="header_formTitle" class="panel-heading">
                </header>
                <div class="panel-body">
                    <form>
                        <div id="div_form" class="form-horizontal bucket-form" style="padding-top:20px">
                        </div>
                    </form>
                    <div style="text-align:center">
                        <p id="p_resultLabel"></p>
                        <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script></script>
<script type="module" src="~/js/miar_profileOption_profile.js"></script>